<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-button routerLink="/login" fill="clear" color="transparent" detail="false">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Recuperar Contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-img src="assets/image/recuperar.svg"></ion-img>

  <br/>
  <!-- Correo -->
  <ion-item>
    <ion-input label="Correo:" type="email" label-placement="floating" [(ngModel)]="correo" [class.invalid]="emailInvalid"></ion-input>
  </ion-item>

  <br/>
  <!-- Boton -->
  <div class="ion-text-center">
    <ion-button class="ion-padding" expand="block" (click)="validaDato()">Recuperar</ion-button>
  </div>
  
  <!-- Mensajes de error -->
  <div *ngIf="errors.length > 0">
    <ul>
      <li *ngFor="let error of errors" style="color: rgb(230, 20, 69);">{{ error }}</li>
    </ul>
  </div>

</ion-content>