<app-header [isModal]="true" title="Mis Estacionamientos"></app-header>

<ion-content>

    <form [formGroup]="form" class="ion-padding ion-text-center" (ngSubmit)="submit()" (keypress.enter)="submit()">

        <!-- Si existe una imagen, mostrarla -->
        <ion-avatar *ngIf="form.value.image">
            <img [src]="form.value.image" />
        </ion-avatar>

        <!-- Si no existe una imagen, mostrar el ícono -->
        <ion-icon class="image-icon" *ngIf="!form.value.image" name="image-outline"></ion-icon>
        <br>

        <!-- Tomar o seleccionar una imagen -->
        <ion-button (click)="takeImage()" mode="ios" size="small" shape="round">
            Tomar/Seleccionar
        </ion-button>

        <!-- Nombre Dirección -->
        <app-custom-input 
        autocomplete="name"
        [control]="form.controls.name"
        type="text"
        label="Dirección"
        ></app-custom-input>

        <div class="validators" *ngIf="form.controls.name.errors && form.controls.name.touched">
            <div *ngIf="form.controls.name.errors?.['required']">El campo es requerido</div>
            <div *ngIf="form.controls.name.errors?.['minlength']">La dirección debe tener al menos 8 caracteres</div>
        </div>

        <!-- Comuna -->
        <app-custom-input 
        autocomplete="city"
        [control]="form.controls.city"
        type="text"
        label="Comuna"
        ></app-custom-input>

        <div class="validators" *ngIf="form.controls.city.errors && form.controls.city.touched">
            <div *ngIf="form.controls.city.errors?.['required']">El campo es requerido</div>
            <div *ngIf="form.controls.city.errors?.['minlength']">La dirección debe tener al menos 8 caracteres</div>
        </div>

        <!-- Tipo Lugar -->
        <app-custom-input 
        autocomplete="place"
        [control]="form.controls.place"
        type="text"
        label="Tipo de Vivienda/Lugar"
        ></app-custom-input>

        <div class="validators" *ngIf="form.controls.place.errors && form.controls.place.touched">
            <div *ngIf="form.controls.place.errors?.['required']">El campo es requerido</div>
            <div *ngIf="form.controls.place.errors?.['minlength']">El lugar debe tener al menos 4 caracteres</div>
        </div>

        <!-- Precio -->
        <app-custom-input
        [control]="form.controls.price"
        type="number"
        label="Valor por Hora"
        ></app-custom-input>

        <div class="validators" *ngIf="form.controls.price.errors && form.controls.price.touched">
            <div *ngIf="form.controls.price.errors?.['required']">El campo es requerido</div>
            <div *ngIf="form.controls.price.errors?.['min']">La mínimo debe ser 0</div>
        </div>

        <!-- Botón para enviar el formulario -->
        <ion-button mode="ios" class="ion-margin" type="submit" [disabled]="form.invalid">
          Agregar estacionamiento
          <ion-icon slot="end" name="checkmark-circle-outline"></ion-icon>
        </ion-button>

    </form>

</ion-content>
