<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-button routerLink="/login" fill="clear" color="transparent" detail="false">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>PERFIL PARKEADO</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-img src="assets/image/parking.svg"></ion-img>

  <!-- Arrendador -->
  <br/>
  <div class="ion-text-center"> 
    <ion-button expand="block" routerLink="/arrendador">Soy Arrendador</ion-button>
  </div>

  <!-- Cliente -->
  <br/>
  <div class="ion-text-center">
    <ion-button expand="block" routerLink="/cliente">Soy Cliente</ion-button>
  </div>

  <!-- Admin -->
  <br/>
  <div class="ion-text-center">
    <ion-button expand="block" routerLink="/administrador">Soy Admministrador</ion-button>
  </div>

</ion-content>