<app-header [showMenu]="true" title="Inicio"></app-header>

<ion-content>

  <ion-list>

    <ion-item-sliding class="product-item" *ngFor="let p of products">
      <ion-item>
        <ion-avatar slot="start">
          <ion-icon name="car" style="font-size: 70px;" color="primary"></ion-icon>
        </ion-avatar>
        <ion-label>
          <div class="name">{{p.name}}</div>
          <div class="city">{{p.city}}</div>
          <div class="place">{{p.place}}</div>
          <div class="data">
            <strong>Valor por Hora:</strong> {{ p.price | currency: '$' }} <br>
            <strong>Horas:</strong> {{ p.hours }}
          </div>

          <ion-chip color="primary" mode="ios" outline="true">
            <ion-label>Ganancia: {{ p.price * p.hours | currency: '$' }}</ion-label>
          </ion-chip>

        </ion-label>
      </ion-item>
      <!-- Opciones -->
      <ion-item-options>
        <!-- Editar -->
        <ion-item-option (click)="addUpdate(p)">
          <ion-icon class="option-btn" slot="start" name="create-outline"></ion-icon>
        </ion-item-option>
        <!-- Eliminar -->
        <ion-item-option (click)="confirmDeleteProduct(p)" color="danger">
          <ion-icon class="option-btn" slot="start" name="trash-outline"></ion-icon>
        </ion-item-option>

      </ion-item-options>

    </ion-item-sliding>
  </ion-list>

  <!-- Nuevo producto-->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="addUpdate()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
 
</ion-content>
