<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-button routerLink="/home" fill="clear" color="transparent" detail="false">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>CLIENTE</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="container">
    <br/>
    <!-- Visualiza el Usuario
    <h2><b>Bienvenido/a, {{ receivedUsername }}!</b></h2> -->
    
    <!-- Titulo item -->
    <h5>¿Dónde quieres estacionar?</h5>

    <!-- Comunas -->
    <ion-list>
      <ion-item>
        <ion-select [(ngModel)]="comuna" label="Escoger comuna:" placeholder="Comuna" okText="OK" cancelText="Cancelar" required>
          <ion-select-option value="Cerrillos">Cerrillos</ion-select-option>
          <ion-select-option value="Cerro Navia">Cerro Navia</ion-select-option>
          <ion-select-option value="Conchalí">Conchalí</ion-select-option>
          <ion-select-option value="El Bosque">El Bosque</ion-select-option>
          <ion-select-option value="Estación Central">Estación Central</ion-select-option>
          <ion-select-option value="Huechuraba">Huechuraba</ion-select-option>
          <ion-select-option value="Independencia">Independencia</ion-select-option>
          <ion-select-option value="La Cisterna">La Cisterna</ion-select-option>
          <ion-select-option value="La Florida">La Florida</ion-select-option>
          <ion-select-option value="La Granja">La Granja</ion-select-option>
          <ion-select-option value="La Pintana">La Pintana</ion-select-option>
          <ion-select-option value="La Reina">La Reina</ion-select-option>
          <ion-select-option value="Las Condes">Las Condes</ion-select-option>
          <ion-select-option value="Lo Barnechea">Lo Barnechea</ion-select-option>
          <ion-select-option value="Lo Espejo">Lo Espejo</ion-select-option>
          <ion-select-option value="Lo Prado">Lo Prado</ion-select-option>
          <ion-select-option value="Macul">Macul</ion-select-option>
          <ion-select-option value="Maipú">Maipú</ion-select-option>
          <ion-select-option value="Ñuñoa">Ñuñoa</ion-select-option>
          <ion-select-option value="Pedro Aguirre Cerda">Pedro Aguirre Cerda</ion-select-option>
          <ion-select-option value="Peñalolén">Peñalolén</ion-select-option>
          <ion-select-option value="Providencia">Providencia</ion-select-option>
          <ion-select-option value="Pudahuel">Pudahuel</ion-select-option>
          <ion-select-option value="Puente Alto">Puente Alto</ion-select-option>
          <ion-select-option value="Quilicura">Quilicura</ion-select-option>
          <ion-select-option value="Quinta Normal">Quinta Normal</ion-select-option>
          <ion-select-option value="Recoleta">Recoleta</ion-select-option>
          <ion-select-option value="Renca">Renca</ion-select-option>
          <ion-select-option value="San Joaquín">San Joaquín</ion-select-option>
          <ion-select-option value="San Ramón">San Ramón</ion-select-option>
          <ion-select-option value="Santiago">Santiago</ion-select-option>
          <ion-select-option value="Vitacura">Vitacura</ion-select-option>
        </ion-select>
      </ion-item>

      <!-- Calendario-->
      <h5>Escoge el día y la hora:</h5>
      <ion-datetime [(ngModel)]="fechaHora" displayFormat="DD MMM YYYY HH:mm" id="datetime" data-time="datetime" required></ion-datetime>
    </ion-list>

    <!-- Boton Reservar-->
    <div class="ion-text-center">
      <ion-button (click)="onSubmit()" class="ion-padding">RESERVAR</ion-button>
    </div>
  </div>

</ion-content>